<!DOCTYPE html>
<head>
    <title>Site Crud</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    
    <header class="o-header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Info</a>
              <div class="dropdown-content">
                <a href="/sobre">Sobre</a>
                <a href="/versao">Versão</a>
              </div>
            </li>
          </ul>
    </header> 
    <aside class="o-aside">
        <img src="../../assets/imagens/medico.jpeg">
    </aside> 
    <main class="o-main">
        <div align="center">
            Ola!<br>
        Você esta entrando no ambiente do Doctor!<br>
        Aqui você encontra um ambiente completo de desenvolvimento<Br>
            para sua clinica/Hospital.
            <br><br>
        <b>Acessos Disponiveis:<br></b>
        Medico<br>Enfermeira<br>Tecnico Enfermagem<br>Secretaria<br>Rh
        </div>
    </main> 
    <footer class="o-footer">
        ® Doctor 1.0 ™
    </footer>

</body>