<!DOCTYPE html>
<head>
    <title>Site Doctor / Secretaria</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    
    <header class="o-header">
        <ul>
            <li><a href="/secretaria">Home</a></li>
            <li><a href="/logout">Logoff</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Agenda</a>
              <div class="dropdown-content">
                <a href="/consultaragenda">Consultar</a>
                <a href="/adicionaragenda">Adicionar</a>
                <a href="/alteraragenda">Alterar</a>
              </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Paciente</a>
                <div class="dropdown-content">
                  <a href="/consultarpaciente">Consultar</a>
                  <a href="/adicionarpaciente">Adicionar</a>
                  <a href="/alterarpaciente">Alterar</a>
                </div>
          </ul>
    </header> 
    <aside class="o-aside">
        <img src="../../assets/imagens/medico.jpeg">
    </aside> 
    <main class="o-main">
        <div align="center">
        <br><br>
        Você está Logado no Ambiente Secretaria
        </div>
    </main> 
    <footer class="o-footer">
        ® Doctor 1.0 ™
    </footer>

</body>