<!DOCTYPE html>
<head>
    <title>Site Doctor / RH</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    
    <header class="o-header">
        
    </header> 
    <aside class="o-aside">
        <img src="../../assets/imagens/medico.jpeg">
    </aside> 
    <main class="o-main">
        <div align="center">
        <br><br>
        <h1>PAGINA NAO ENCONTRADA, VÁ PARA HOME</h1>
        <a href="javascript:history.back()">Go Back</a>
        </div>
    </main> 
    <footer class="o-footer">
        ® Doctor 1.0 ™
    </footer>

</body>